/*
Fonts
font-family: 'Allura', cursive;
font-family: 'Bad Script', cursive;
font-family: 'Dawning of a New Day', cursive;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Nothing You Could Do', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Reenie Beanie', cursive;
font-family: 'Nunito', sans-serif;
*/
head, body
{
    height: 100%;
    margin: 0px;
    text-align: center;
}
body
{
    background-image: url("assets/main_background.jpg");
    font-family: 'Nunito', sans-serif;
}


/******************************<Specifics>*******************************************/
.container0
{
    /*background-image: url("assets/main_background.jpg");*/
    background-image: inherit;
    background-color: rgb(238,238,238);
    height : 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container1
{
    /*background-image: url("assets/main_background.jpg");*/
    background-image: url("assets/main_background.jpg");
    background-color: rgba(238, 238, 238, 0.9);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
}

#im
{
    margin-bottom: 0px;
    padding-top: 10%
}
#name
{
    font-family: 'Nothing You Could Do', cursive;
    font-size: 7vw;
    font-weight: normal;
    margin-top: 5%;
    margin-bottom: 5%;
}
#dp
{
    border-style: groove;
    border-width: 9px;
    border-color: silver;
}

.myname
{
    font-size: max(30px, 3vw);
    font-weight: normal;
    margin-top: 2%;
    margin-bottom: 0px;
}
.summary
{
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
}

/******************************< Fonts >******************************************/

.l1_heading
{
    font-family: 'Dawning of a New Day', cursive;
    font-size: max(60px, 6vw);
    font-weight: normal;
}
.l1_heading_2
{
    font-family: 'Nunito', sans-serif;
    font-size: max(60px, 6vw);
    font-weight: normal;
}
.l2_heading
{
    font-family: 'Allura', cursive;
    font-size: max(40px, 4vw);
    font-weight: normal;
}
.l3_heading
{
    font-family: 'Allura', cursive;
    font-size: max(30px, 3vw);
    font-weight: normal;
}
.normal_text
{
    font-family: 'Nunito', sans-serif;
    font-size: 1.75vw;
}

/*****************************************<Set Margin>**************************************/
.set_margin_top
{
    margin-top: 40px;
}
.no_margin_top
{
    margin-top: 0px;
}
.no_margin_bottom
{
    margin-bottom: 0px;
}
.no_margin_left
{
    margin-left: 0px;
}
.no_margin_right
{
    margin-right: 0px;
}
/****************************<Image Properties>************************************/
.image_left
{
    margin-left: 10%;
    float: left;
}
.image_right
{
    margin-right: 7.5%;
    float: right;
}
.circular_image
{
    border-radius: 100%;
}
/******************************< DIVS >**********************************/
.seperate
{
    width: 10%;

    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 5px;

    border-style: dotted;
    border-color:#3B3355;
}

/********************************< Colors >********************************/
.color_1
{
    color: rgb(80, 19, 19);
}