/*
Fonts
font-family: 'Allura', cursive;
font-family: 'Bad Script', cursive;
font-family: 'Dawning of a New Day', cursive;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Nothing You Could Do', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Reenie Beanie', cursive;
font-family: 'Nunito', sans-serif;
*/
body
{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;

    text-align: center;
    
    background-color: rgb(238, 238, 238);
}

#name
{
    font-family: 'Nothing You Could Do', cursive;
    font-size: 7vw;
    font-weight: normal;
    margin-top: 0px;
}
#im
{
    margin-bottom: 0px;
    margin-top: 10vw;
}
#profile_pic
{
    width: 200px;
    border-radius: 100%;

}

.l1_heading
{
    font-family: 'Dawning of a New Day', cursive;
    font-size: 6vw;
    font-weight: normal;
}
.l2_heading
{
    font-family: 'Allura', cursive;
    font-size: 4vw;
    font-weight: normal;
}
.l3_heading
{
    font-family: 'Allura', cursive;
    font-size: 2.75vw;
    font-weight: normal;
}
.normal_text
{
    font-family: 'Nunito', sans-serif;
    font-size: 1.75vw;
}

.home_background
{
    height: auto;
    width: 100%;
    zoom: 0.1;
}

.home_data
{
    position: absolute;
    left: 20%;
    top: 0px;
}

.inline_block
{
    display: inline-block;
    width: 75%;
}

/******************************< DIVS >**********************************/

.home
{
    display: inline-block;
    width: 100%;
    height: auto;
}

.summary
{
    width: 100%;
    height: 60%;
    min-height: 500px;
}

.summary_img
{
    margin-top: 3.5%;
    display: inline-block;
}
.summary_txt
{
    display: inline-block;
    width: 80%;
}