/*****************************< Backgrounds >**************************************/
.main_background
{
    background-color: rgb(15, 15, 15);
    color: rgb(180, 180, 180);
    transition-duration: 1000ms;

}

/*****************************< Images >**************************************/
.dp
{
    border-radius: 100%;
}

/*****************************< Lines >**************************************/
.horizontal_dots
{
    border-style: dotted;

    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 5;

    border-color:darkgrey;

    width: 10%;
}


/*****************************< Text and Headings >**************************************/

.primary_heading
{
    font-size: 50;
    font: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.secondary_heading
{
    font-size: 25;
    font: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tertiary_heading
{
    font-size: 17;
    font: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.normal_text
{
    font-size: 15;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}