.main_background
{
    background-color: rgb(212, 244, 252);
    transition-duration: 5000ms;
}
.dp
{
    border-radius: 100%;
}

.primary_heading
{
    font-size: 50;
    font: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.secondary_heading
{
    font-size: 25;
    font: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tertiary_heading
{
    font-size: 17;
    font: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.normal_text
{
    font-size: 15;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}